<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Driving Data Recorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB40B9081C4EFE21009398A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB40B91F1C4EFE21009398A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB40B92A1C4EFE21009398A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
